@model claimy_appt.Models.SignIn
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> sign In</h2>
<textarea rows="1">@Model.ID</textarea><br />
<textarea rows="1"> @Model.Password </textarea>




